{{define "yield"}}
    <h1>Get in touch!</h1>
    <p>
        To get in touch, please send an email to 
        <a href="mailto:valdemar.ceccon@gmail.com">
            valdemar.ceccon@gmail.com
        </a>
    </p>
{{end}}